@using EntityLayer.Concrete
@model List<Brand>

<section class="brands">
    <div class="container">
        <ul class="brand-list">
            @foreach (var x in Model)
            {
                <li class="brand-item">
                    <a href="#">
                        <img src="@x.ImageUrl" alt="">
                    </a>
                </li>
            }
        </ul>
    </div>
</section>