
<section class="campaigns">
    <div class="container">
        <div class="campaigns-wrapper">
            <div class="campaign-item">
                <h3 class="campaign-title">
                    Moda Haftası <br> Özel Fiyatlar <br>
                </h3>
                <p class="campaign-desc">Moda haftasında tüm moda severler ile buluşuyoruz</p>
                <a href="#" class="btn btn-primary">
                    Tümünü Gör
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="campaign-item">
                <h3 class="campaign-title">
                    Lansmana Özel Fiyatlar <br>Hemen şimdi katıl <br>
                </h3>
                <p class="campaign-desc">Özel kreasyon ürünleri tam olarak burada</p>
                <a href="#" class="btn btn-primary">
                    Tümünü Gör
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="campaigns-wrapper">
            <div class="campaign-item">
                <h3 class="campaign-title">
                    Genç Kızların Kalbi Burada Atıyor <br> Alışverişe Başla <br>
                </h3>
                <p class="campaign-desc">18-25 yaş arası özel ürünler</p>
                <a href="#" class="btn btn-primary">
                    Tümünü Gör
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="campaign-item">
                <h3 class="campaign-title">
                    Sıcak Günlere Özel <br> Sıcak Renkler <br>
                </h3>
                <p class="campaign-desc">E-Commerce bize bir defileden çok daha fazlasını sunuyor.</p>
                <a href="#" class="btn btn-primary">
                    Tümünü Gör
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>