@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<section class="blogs">
    <div class="container">
        <div class="section-title">
            <h2>Bloglarımız</h2>
            <p>Tavsiyelerimiz İçin Bloglarımıza Göz Atabilirsiniz</p>
        </div>
        <ul class="blog-list">
            @foreach (var x in Model)
            {
                <li class="blog-item">
                    <a href="/Blog/BlogDetails/@x.BLogID" class="blog-image">
                        <img src="@x.BlogImage" alt="">
                    </a>
                    <div class="blog-info">
                        <div class="blog-info-top">
                            <span>@(((DateTime)x.AddDate).ToString("dd-MMM-yyyy"))</span> -
                            <span>@x.Category.CategoryName</span>
                        </div>
                        <div class="blog-info-center">
                            <a href="/Blog/BlogDetails/@x.BLogID">@x.Title</a>
                        </div>
                        <div class="blog-info-bottom">
                            <a href="/Blog/BlogDetails/@x.BLogID">Devamını Gör</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>