

@*  <div class="comment-form-cookies">
    <input id="cookies" type="checkbox">
    <label for="cookies">
    Save my name, email, and website in this browser for the next time I
    comment.
    <span class="required">*</span>
    </label>
    </div>*@