@model List<Subscribe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Abone Listesi</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>AboneID</th>
        <th>Mail Adresi</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SubscribeID</td>
            <td>@x.SubscribeMail</td>
        </tr>
    }
</table>
