<div class="widget-nav-menu">
    <h4>Hesap Ayarları</h4>
    <ul class="menu-list">
        <li>
            <a href="/Login/Index/">Dashboard</a>
        </li>
        <li>
            <a href="/Login/Index/">Siparişlerim</a>
        </li>
        <li>
            <a href="/Login/Index/">Favorilerim</a>
        </li>
        <li>
            <a href="/Login/Index/">Hesap Ayarlarım</a>
        </li>
        <li>
            <a href="/Login/Index/">Kargom Nerede?</a>
        </li>
    </ul>
</div>