<div class="brand-info">
    <div class="footer-logo">
        <a href="index.html" class="logo">LOGO</a>
    </div>
    <div class="footer-desc">
        <p>
           Sizlere daha iyi hizmet verebilmemiz için  bize aşağıdaki seçenekleri kullanarak ulaşabilirsiniz.
        </p>
    </div>
    <div class="footer-contact">
        <p>
            <a href="tel:555 555 55 55">(+800) 1234 5678 90</a> – <a href="mailto:info@example.com">info@example.com</a>
        </p>
    </div>
</div>