<div class="widgets-row">
    <div class="container">
        <div class="footer-widgets">
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterBrandInfo.cshtml")
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterInformation.cshtml")
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterAccount.cshtml")
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterShop.cshtml")
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterBlogs.cshtml")
        </div>
    </div>
</div>