
<div class="subscribe-row">
    <div class="container">
        <div class="footer-row-wrapper">
            <div class="footer-subscribe-wrapper">
                <div class="footer-subscribe">
                    <div class="footer-subscribe-top">
                        <h3 class="subscribe-title">Get our emails for info on new items, sales and more.</h3>
                        <p class="subscribe-desc">
                            We'll email you a voucher worth $10 off your first order over $50.
                        </p>
                    </div>
                    <div class="footer-subscribe-bottom">
                        <form method="post">
                            <input type="text" placeholder="Enter your email address.">
                            <button class="btn">Subscribe</button>
                        </form>
                        <p class="privacy-text">
                            By subscribing you agree to our <a href="#">
                                Terms & Conditions and Privacy & Cookies
                                Policy.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-contact-wrapper">
                <div class="footer-contact-top">
                    <h3 class="contact-title">
                        Need help? <br> (+90) 123 456 78 90
                    </h3>
                    <p class="contact-desc">We are available 8:00am – 7:00pm</p>
                </div>
                <div class="footer-contact-bottom">
                    <div class="download-app">
                        <a href="#">
                            <img src="img/footer/app-store.png" alt="">
                        </a>
                        <a href="#">
                            <img src="img/footer/google-play.png" alt="">
                        </a>
                    </div>
                    <p class="privacy-text">
                        <strong>Shopping App:</strong> Try our View in Your Room feature, manage registries and save payment info.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>