
<div class="subscribe-row">
    <div class="container">
        <div class="footer-row-wrapper">
            <div class="footer-subscribe-wrapper">
                <div class="footer-subscribe">
                    @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterSubscribeTop.cshtml")
                    <div class="footer-subscribe-bottom">
                        <form method="post" action="/Subscribe/SubscribeMail">
                            <input type="text" name="SubscribeMail" placeholder="Lütfen mail adresinizi giriniz.">
                            <button class="btn">Abone Ol</button>
                        </form>
                        <p class="privacy-text">
                            Bültene abone olarak  <a href="#">
                                tüm çerezleri kabul ediyorum.
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/UILayoutPartial/_FooterRightWrapper.cshtml")
        </div>
    </div>
</div>