<div class="widget-nav-menu">
    <h4>Faydalı Linkler</h4>
    <ul class="menu-list">
        <li>
            <a href="#">Hakkımızda</a>
        </li>
        <li>
            <a href="#">Gizlilik Politikası</a>
        </li>
        <li>
            <a href="#">İade Politikası</a>
        </li>
        <li>
            <a href="#">Kargo Politikası</a>
        </li>
        
    </ul>
</div>