<div class="footer-subscribe-top">
    <h3 class="subscribe-title">Yeniliklerden haberdaar olmak için bültene abone olun.</h3>
    <p class="subscribe-desc">
        İlk 500₺ ve üzeri alışverişinizde geçerli  150₺ indirim kuponu gönderiyoruz.
    </p>
</div>