<div class="footer-contact-wrapper">
    <div class="footer-contact-top">
        <h3 class="contact-title">
            Yardım mı gerekli? <br> (+90) 123 456 78 90
        </h3>
        <p class="contact-desc">Bize 08.00 - 17.00 arasında ulaşabilirsiniz.</p>
    </div>
    <div class="footer-contact-bottom">
        <div class="download-app">
            <a href="#">
                <img src="img/footer/app-store.png" alt="">
            </a>
            <a href="#">
                <img src="img/footer/google-play.png" alt="">
            </a>
        </div>
        <p class="privacy-text">
            <strong>Tüm verileriniz</strong>kişisel verilerin korunması kanunu kapsamında korunmaktadır.
        </p>
    </div>
</div>