<div class="global-notification">
    <div class="container">
        <p>
            Tüm Ürünlerde Yeni Sezona Özel %50'Ye Varan İndirim Fırsatları Başladı
            <a href="/Shop/Index/">Alışverişe Başla</a>
        </p>
    </div>
</div>