<div class="header-right">
    <div class="header-right-links">
        <a href="account.html" class="header-account">
            <i class="bi bi-person"></i>
        </a>
        <button class="search-button">
            <i class="bi bi-search"></i>
        </button>
        <a href="#">
            <i class="bi bi-heart"></i>
        </a>
        <div class="header-cart">
            <a href="cart.html" class="header-cart-link">
                <i class="bi bi-bag"></i>
                <span class="header-cart-count">0</span>
            </a>
        </div>
    </div>
</div>