
<div class="contact-info">
    <div class="contact-info-item">
        <div class="contact-info-texts">
            <strong> Clotya Store</strong>
            <p class="contact-street">
                Clotya Store Austria — 785 15h Street, Office 478/B Green Mall Voralberg, AT 81566
            </p>
            <a href="tel:Phone: +1 1234 567 88">Telefon: +1 1234 567 88</a>
            <a href="mailto:Email: contact@example.com">Email: contact@example.com</a>
        </div>
    </div>
    <div class="contact-info-item">
        <div class="contact-info-texts">
            <strong> Çalışma Saatlerimiz</strong>
            <p class="contact-date">
                Pazartesi - Cuma : 09.00-17.00
            </p>
            <p>Haftasonu Kapalı</p>
        </div>
    </div>
</div>