@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comments">
    <ol class="comment-list">
        <li class="comment-item">
            <div class="comment-avatar">
                <img src="img/avatars/avatar1.jpg" alt="">
            </div>
            @foreach (var x in Model)
            {                        
            <div class="comment-text">

                <div class="comment-meta">
                    <strong>admin</strong>
                    <span>-</span>
                    <time>April 23, 2022</time>
                </div>
                <div class="comment-description">
                    <p>@x.Content</p>
                </div>
                
            </div>
            }
        </li>
    </ol>
</div>