@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comments">
    <ol class="comment-list">
        <li class="comment-item">
            <div class="comment-avatar">
                <img src="img/avatars/avatar1.jpg" alt="">
            </div>
            @foreach (var x in Model)
            {
                <div class="comment-text">

                    <div class="comment-meta">
                        <strong>@x.UserName</strong>
                        <span>-</span>
                        <time>@(((DateTime)x.CommentDate).ToString("dd-MMM-yyyy"))</time>
                    </div>
                    <div class="comment-description">
                        <p>@x.Content</p>
                    </div>

                </div>
            }
        </li>
    </ol>
</div>


