@model List<AppRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rol Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            <td><a href="/Admin/Role/DeleteRole/@x.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Role/UpdateRole/@x.Id" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Role/AddRole/" class="btn btn-outline-dark">Yeni Rol Girişi</a>