<section class="campaign-single">
    <div class="container">
        <div class="campaign-wrapper">
            <h2>New Season Sale</h2>
            <strong>40% OFF</strong>
            <span></span>
            <a href="#" class="btn btn-lg">
                SHOP NOW
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>