<section class="campaign-single">
    <div class="container">
        <div class="campaign-wrapper">
            <h2>Yeni Sezon Ürünleri</h2>
            <strong>40%'a Varan İndirim </strong>
            <span></span>
            <a href="#" class="btn btn-lg">
                Alışverişe Başla
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>