@using EntityLayer.Concrete
@model List<Policy>

<section class="policy">
    <div class="container">
        <ul class="policy-list">
            @foreach (var x in Model)
            {
                <li class="policy-item">
                    <i class="@x.Icon"></i>
                    <div class="policy-texts">
                        <strong>@x.Title</strong>
                        <span>@x.SubTitle</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>