@using EntityLayer.Concrete
@model List<NewArrival>

<section class="products">
    <div class="container">
        <div class="section-title">
            <h2>Yeni Gelenler</h2>
            <p>Bu yaz modanın kalbi burada atıyor</p>
        </div>
        <div class="product-wrapper product-carousel2">
            <div class="glide__track" data-glide-el="track">
                <ul class="product-list glide__slides">
                    @foreach (var x in Model)
                    {
                        <li class="product-item glide__slide">
                            <div class="product-image">
                                <a href="#">
                                    <img src="@x.Image1" alt="" class="img1">
                                    <img src="@x.Image2" alt="" class="img2">
                                </a>
                            </div>
                            <div class="product-info">
                                <a href="$" class="product-title">@x.Name</a>
                                <ul class="product-star">
                                    <li>
                                        <i class="bi bi-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star-fill"></i>
                                    </li>
                                    <li>
                                        <i class="bi bi-star-half"></i>
                                    </li>
                                </ul>
                                <div class="product-prices">
                                    <strong class="new-price">$@x.NewPrice</strong>
                                    <span class="old-price">$@x.OldPrice</span>
                                </div>
                                <span class="product-discount">@x.Discount%</span>
                                <div class="product-links">
                                    <button>
                                        <i class="bi bi-basket-fill"></i>
                                    </button>
                                    <button>
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <a href="/SingleProduct/Index/@x.NewArrivalID">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                    <a href="#">
                                        <i class="bi bi-share-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>





@*   <li class="product-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="~/e-commerce/img/products/product4/1.png" alt="" class="img1">
                                <img src="~/e-commerce/img/products/product4/2.png" alt="" class="img2">
                            </a>
                        </div>
                        <div class="product-info">
                            <a href="$" class="product-title">Analogue Resin Strap</a>
                            <ul class="product-star">
                                <li>
                                    <i class="bi bi-star-fill"></i>
                                </li>
                                <li>
                                    <i class="bi bi-star-fill"></i>
                                </li>
                                <li>
                                    <i class="bi bi-star-fill"></i>
                                </li>
                                <li>
                                    <i class="bi bi-star-fill"></i>
                                </li>
                                <li>
                                    <i class="bi bi-star-half"></i>
                                </li>
                            </ul>
                            <div class="product-prices">
                                <strong class="new-price">$108.00</strong>
                                <span class="old-price">$165.00</span>
                            </div>
                            <span class="product-discount">-17%</span>
                            <div class="product-links">
                                <button>
                                    <i class="bi bi-basket-fill"></i>
                                </button>
                                <button>
                                    <i class="bi bi-heart-fill"></i>
                                </button>
                                <a href="#">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-share-fill"></i>
                                </a>
                            </div>
                        </div>
                    </li>*@